{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-5 mb-3">
        <div class="card p-3 shadow" id="credential-list">
            <div class="card-body row py-3 align-items-center">
                <div class="col-12 d-flex align-items-center mb-3">
                    <small class="text-muted">Showing <strong>{{ credentials|length }}</strong> records</small>
                    <a href="{{ path('credential_new') }}" class="ml-auto">
                        <span class="fa fa-plus btn btn-primary"></span>
                    </a>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                {% if credentials|length > 0 %}
                {% for credential in credentials %}
                    <div class="col-12 mb-3">
                        <a href="{{ path('account') }}?credential={{ credential.id }}">{{ credential.name }}</a>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="col-12">
                        No data. <a href="{{ path('credential_new') }}">Add new record</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <div class="card p-3 shadow" id="credential-detail">
            <div class="card-body row py-3">
                {% if credentialFocus %}
                    <div class="col-12 m-5">
                        <h4 class="card-title text-primary">{{ credentialFocus.name }}</h4>
                    </div>
                    <div class="col-12 m-3">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <strong><small class="text-primary">URL</small></strong>
                                <span class="text-muted">{{ credentialFocus.url }}</span>
                            </div>
                            <button class="btn btn-sm text-primary ml-auto" onclick="copyText(`{{ credentialFocus.url }}`)">Copy</button>
                        </div>
                    </div>
                    <div class="col-12 m-3">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <strong><small class="text-primary">LOGIN</small></strong>
                                <span class="text-muted">{{ credentialFocus.login }}</span>
                            </div>
                            <button class="btn btn-sm text-primary ml-auto" onclick="copyText(`{{ credentialFocus.login }}`)">Copy</button>
                        </div>
                    </div>
                    <div class="col-12 m-3">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <strong><small class="text-primary">PASSWORD</small></strong>
                                <span class="text-muted">{{ credentialFocus.password }}</span>
                            </div>
                            <button class="btn btn-sm text-primary ml-auto" onclick="copyText(`{{ credentialFocus.password }}`)">Copy</button>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        No data. <a href="{{ path('credential_new') }}">Add new record</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}
