{{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="row">
        <div class="col-2">
            <img id="img" src="{{ asset('img/' ~ image) }}" width="64px" height="64px" />
        </div>
        <div class="col-10">
            {{ form_row(form.image) }}
        </div>
    </div>

    {{ form_row(form.url) }}
    {{ form_row(form.login) }}
    {#  id = credential_password   #}
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        <div class="input-group mb-3">
            {{ form_widget(form.password) }}
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <a href="#" id="credential_password_visibility">
                        <i class="fa fa-eye" aria-hidden="true" id="credential_password_icon"></i>
                    </a>
                </span>
            </div>
        </div>
        {{ form_help(form.password) }}
    </div>
    {{ form_row(form.note) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="{{ asset('js/eye.js') }}"></script>
<script>
    const fileField = document.getElementById('credential_image');
    const fileFieldLabel = document.getElementsByClassName('custom-file-label');

    fileField.addEventListener('change', myFunction1);

    function myFunction1(event) {
        const fileName = this.files[0].name;
        document.getElementsByClassName('inner-file-label')[1].innerHTML = fileName;
    }

    const inputFile = document.getElementById('credential_image');
    inputFile.addEventListener('change', myFunction2);

    function myFunction2(event) {
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            const imgTmp = document.getElementById('img');
            imgTmp.setAttribute('src', e.target.result);
            console.log(imgTmp.getAttribute('src'));
        }

        reader.readAsDataURL(file);
    }
</script>
