{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_row(form.url) }}
    {{ form_row(form.login) }}
    {#  id = credential_password   #}
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        <div class="input-group mb-3">
            {{ form_widget(form.password) }}
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <a href="#" id="credential_password_visibility">
                        <i class="fa fa-eye" aria-hidden="true" id="credential_password_icon"></i>
                    </a>
                </span>
            </div>
        </div>
        {{ form_help(form.password) }}
    </div>
    {{ form_row(form.note) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="{{ asset('js/eye.js') }}"></script>
<script>
    const fileField = document.getElementById('credential_image');
    const fileFieldLabel = document.getElementsByClassName('custom-file-label');

    fileField.addEventListener('change', myFunction);

    function myFunction(event) {
        const fileName = this.files[0].name;
        // console.log(fileName);
        document.getElementsByClassName('inner-file-label')[1].innerHTML = fileName;
    }
</script>
