{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
    {{ form_row(form.login) }}
    {#  id = credential_password   #}
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        <div class="input-group mb-3">
            {{ form_widget(form.password) }}
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <a href="#" id="credential_password_visibility">
                        <i class="fa fa-eye-slash" aria-hidden="true" id="credential_password_icon"></i>
                    </a>
                </span>
            </div>
        </div>
        {{ form_help(form.password) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="{{ asset('js/eye.js') }}"></script>
