{% extends 'base.html.twig' %}

{% block title %}Credentials{% endblock %}

{% block body %}
    <h1>Credentials</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ credential.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ credential.url }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ credential.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ credential.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('credential_index') }}">back to list</a>

    <a href="{{ path('credential_edit', {'id': credential.id}) }}">edit</a>

    {{ include('credential/_delete_form.html.twig') }}
{% endblock %}
